@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Shrikhand&display=swap');

:root {
  --primary-color: #702906;
  --background-color: #C2C1AE;
  --color-whitenowhite: #EBEAE0;

  --font-logotipos: 'Shrikhand', cursive;
  --font-normal: 'Josefin Sans', sans-serif;

  --font-size: 1.3rem
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  text-align: center;
  max-width: 100vw;
  font-family: var(--font-normal);
}

.content-size {
  min-height: 100vh;
  max-width: 100vw;
}

nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid var(--primary-color);
  width: 90%;
  margin: 0 auto
}

nav div {
  display: flex;
  align-items: center;
}

nav div img {
  border-radius: 100% !important;
  width: 40px !important;
  margin-right: 10px;
}

.span-cart-count {
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 20px;
  height: 20px;
  display: inline-block;
}

#logo-navbar {
  font-family: var(--font-logotipos);
  color: var(--primary-color);
}

a, h1, h2 {
  color: var(--primary-color);
  text-decoration: none;
}

/* --------------------HOME */
#Home {
  padding-top: 50px;
}

.Home-design {
  position: relative;
  padding: 110px 0;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
}

.Home-design-logo {
  position: absolute;
  font-size: 12rem;
  letter-spacing: 14.8px;
  font-family: var(--font-logotipos);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: transparent;
}

.logo-first {
  top: 100px;
  -webkit-text-stroke: 7px #702906bd;
}

.logo-second {
  top: -50px;
  -webkit-text-stroke: 7px var(--color-whitenowhite);
}

.logo-third {
  bottom: 200px;
  -webkit-text-stroke: 7px var(--color-whitenowhite);
}

.nike-home {
  position: absolute;
  max-width: 100vw;
}

.nike-home-background {
  width: 900px;
  top: -100px;
  right: 400px;
  transform: rotate(-25deg) scaleX(-1);
  filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.5));
}

.nike-home-blackwhite {
  width: 700px;
  left: 0;
  right: -200px;
  margin: 0 auto;
  top: 100px;
  transform: rotate(-20deg);
  filter:  drop-shadow(20px 20px 20px rgba(0,0,0,0.5)) grayscale(100%);
}

.Home-design-button {
  position: absolute;
  font-size: var(--font-size);
  right: 50px;
  bottom: 200px;
  padding: 8px 30px;
  background-color: var(--color-whitenowhite);
  border-radius: 10px;
  transition: .4s ease-in;
}

.Home-design-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.5));
}

.design-decades {
  margin-top: -150px;
  background-color: var(--color-whitenowhite);
}

.design-decades .years {
  color: transparent;
  -webkit-text-stroke: 7px #DEB095;
  font-size: 10rem;
  letter-spacing: 14.8px;
  font-family: var(--font-logotipos);
  background-color: var(--primary-color);
  white-space: nowrap;
}

.design-decades .old-eras {
  width: 300px;
  height: 300px;
  background-color: var(--background-color);
  border-radius: 50%;
  margin: 100px auto;
  color: var(--primary-color);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-decades .item-vintage img {
  padding-bottom: 30px;
  padding-right: 30px;
  width: 80%;
  border-bottom: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
}

.design-decades .item-vintage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 100px 0;
}

.design-decades .item-vintage img {
  width: 500px;
  border-bottom: none;
  border-right: none;
  padding-right: 0;
}

.prod-item-home {
  position: relative;
  display: flex;
  margin: -20px auto 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  max-width: 90vw;
}

.prod-item-home::-webkit-scrollbar {
  height: 0.3em;
}

.prod-item-home::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 10px;
}

.prod-item-home > .prod-item {
  margin-bottom: 20px;
}

/* --------------- PRODUCTOS */
#products-list  {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  max-width: 100%;
  margin-bottom: 100px;
}

.prod-item {
  position: relative;
  width: 250px;
  max-width: 300px;
  margin: 0px 15px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 10px;
  background-color: var(--color-whitenowhite);
}

.prod-item-img img {
  width: 100%;
  height: auto;
  transform: rotate(-20deg);
  margin-bottom: 35px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.prod-item:nth-child(3) img {
  width: 90%;
}

.prod-item-title {
  text-align: left;
  font-size: 0.9rem;
  padding-top: 10px;
}

.prod-item .prod-item-img {
  position: relative;
  height: 170px;
}

.prod-item .prod-item-img span {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0;
  right: 0;
  margin: auto auto;
  background-color: #702906bd;
  border-radius: 50%;
}

.prod-item .prod-item-vermas {
  padding: 5px 30px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
}

.prod-item .prod-item-vermas:hover {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
}

.prod-item .prod-item-text > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-top: 10px;
}

.prod-item .prod-item-title {
  width: 100%;
}

.itemDetail {
  display: flex;
  justify-content: center;  align-items: center;
  background-color: var(--color-whitenowhite);
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  min-height: 80vh;
  padding-right: 30px;
}

.itemDetail > .itemDetail-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  min-height: 80vh;
}

.itemDetail-img img {
  filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.5));
  width: 700px;
}

.itemCount {
  display: flex;
  flex-direction: column;
}

.itemCount > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemCount > div button {
  color: var(--primary-color);
  background-color: transparent;
  font-family: var(--font-normal);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 21px;
  padding: 2px 0px;
  width: 35px;
}

#itemFormCount {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
  font-family: var(--font-normal);
  width: 100%;
  padding: 8px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid var(--primary-color);;
}

#itemFormCount:hover {
  background-color: var(--color-whitenowhite);
  color: var(--primary-color);
}

.itemDetail-info a {
  text-align: center;
}

.section-title {
  margin: 40px 0;
}

/* ------------- REGISTER */

.register-form, .login-form {
  width: 30%;
  margin: 50px auto 0px;
  padding: 4px 0 30px 0;
  background-color: var(--color-whitenowhite);
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
}

.register-form > form, .login-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form form > input, .login-form form > input {
  padding: 10px 0;
  width: 70%;
  border: none;
  font-family: var(--font-normal);
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
  margin: 5px 0;
}

.register-form form > input:focus, .login-form form > input:focus{
  outline: 0;
}

.register-form-submit, .login-form-submit {
  border-bottom: none;
  cursor: pointer;
  width: 70%;
  border: 2px solid var(--primary-color);
  font-family: var(--font-normal);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 8px 16px;
  margin: 20px 0;
}

.register-form-submit:hover, .login-form-submit:hover {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
}

/* ---------- PROFILE */

.section-profile-card {
  width: 200px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease;
  margin: auto auto;
  border-radius: 8px;
}

.section-profile-card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.section-profile-card img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.section-profile-card p {
  margin-bottom: 15px;
}

.button-logout, .button-deleteuser {
  font-family: var(--font-normal);
  width: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.button-logout {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
  margin-bottom: 15px;
}

.button-logout:hover, .button-deleteuser {
  background-color: var(--color-whitenowhite);
  color: var(--primary-color);
  cursor: pointer;
}

/* -------------- CART */
#cart-itemlist {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.cart-items > .cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-whitenowhite);
  width: 45vw;
  padding: 10px 30px;
  margin: 10px 0;
  border-radius: 8px;
}

#cart-itemlist > .cart-checkout {
  display: flex;
  flex-direction: column;
}

.cart-checkout > button {
  font-family: var(--font-normal);
  width: 100%;
  padding: 8px 16px;
  margin: 5px auto;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.cart-checkout > .empty-cart {
  background-color: var(--color-whitenowhite);
  color: var(--primary-color);
}

.cart-checkout > .finalize-cart {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
}

.cart-items > .cart-item img {
  width: 80px;
}

#footer {
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
  width: 100%;
  padding: 19px 0;
}

.mailRestore {
  width: 200px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease;
  margin: 20px auto 0;
  border-radius: 8px;
}

.mailRestore:hover {
  box-shadow: 0 8px 50px #23232333;
}

.mailRestore input:nth-child(2) {
  padding: 10px 0;
  width: 100%;
  border: none;
  font-family: var(--font-normal);
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
  margin: 5px 0;
}

.mailRestore input:focus {
  outline: 0;
}

.mailRestore-submit {
  font-family: var(--font-normal);
  width: 100%;
  padding: 8px 16px;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--color-whitenowhite);
}

.mailRestore-submit:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: var(--primary-color);
}